{{ define "content" }}

<div class="panel panel-default">
  <div class="panel-heading" style="overflow: auto;background-color:rgb(236, 236, 236);">
    <br>
    <span class="lead" style="font-weight: bold;"> <i class="fa fa-comment-o"></i> [ {{ .thread.Topic }} ] {{
      .thread.Title }}</span>
    <br>
    <br>
    <div class="lead">
      #1 {{ .thread.Content }}
    </div>
    <div class="lead pull-left" style="font-size: 1.1em">
      [ {{ .thread.UserName }} ] Created at : {{ .thread.CreatedAt }}
    </div>
    <div class="pull-right" style="font-size: 1.1em">
      Replies: {{ .thread.NumPosts }} | Viewed: {{ .thread.ViewCount }}
    </div>

  </div>
  {{ range .posts }}
  <br>
  <hr style="border: none;height: 3px; background-color: #cbcbcb;margin:0px;padding: 0px;">
  <div class="lead"
    style="background-color:rgb(236, 236, 236);padding-left: 20px;padding-right: 20px;">
    <br>
    <span class="lead" ><i class="fa fa-comment-o"></i> #{{ .ThreadPos }} {{ .Content }}</span>
    <br>
    <div class="pull-right" style="font-size: 0.6em;padding-right: 10px;">
      {{ .UserName }} Replied at {{ .CreatedAt }}
    </div>
    <br>
  </div>
  <div style="margin-top: 10px;">
    {{ range .Comments }}
    <div class="comment-in-post">
      <span style="font-size: 1.2em;"> [ {{ .UserName }} ] Replied To [ {{ .ReplyToName }} ] : {{
        .Content }}</span>
      <div class="pull-right" style="font-size: 0.9em;padding-right: 5px;">
        Replied at {{ .CreatedAt }}
      </div>
      <hr style="border: none;height: 1px; background-color: #cbcbcb;margin:0px;padding: 0px;">
    </div>
    {{ end }}
  </div>

  {{ end }}
  <br>
  <br>
</div>


<div class="panel panel-info">
  <div class="panel-body">
    <form role="form" action="/thread/post" method="post">
      <div class="form-group">
        <textarea class="form-control" name="body" id="body" placeholder="Write your reply here" rows="3"></textarea>
        <input type="hidden" name="uuid" value="{{ .Uuid }}">
        <br />
        <button class="btn btn-primary pull-right" type="submit">Reply</button>
      </div>
    </form>
  </div>
</div>



{{ end }}