{{ define "content" }}
{{ $islogined := .islogined }}
<div class="panel panel-default">
  <div id="myList">
    <div class="group">
      <div class="lead" style="background-color:rgb(236, 236, 236);padding-left: 20px;padding-right: 20px;">
        <br>

        <span class="lead" style="font-weight: bold;"> </i> [ {{ .thread.Topic }} ] {{
          .thread.Title }}</span>
        <br>
        <br>
        <div class="lead">
          #1 {{ .thread.Content }}
        </div>

        <div class="lead pull-right" style="font-size: 0.7em;padding-right: 20px;">
          [ {{ .thread.UserName }} ] Created at : {{ .thread.CreatedAt }}
        </div>
        {{ if eq $islogined true }}
        <a href="#" style="font-size: 0.7em;" class="pull-right show-input" data-text="Reply to {{ .thread.UserName }}"
          tuuid="{{ .thread.Uuid }}" puuid="" ruuid="" action="post">[Reply]</a>
        {{ end }}
        <div class="pull-left" style="font-size: 0.7em;padding-left: 20px;">
          Replies: {{ .thread.NumPosts }} | Viewed: {{ .thread.ViewCount }}
        </div>
        <br>
      </div>

      {{ template "replyinput" . }}
    </div>
    <div>
      <a class="lead pull-right" style="margin-right: 25px;font-size: 1.2em" href="/thread?uuid={{ .thread.Uuid }}&page={{ .page }}&order=1">
        {{ if eq .curorder 1}}
        [ ASC ]
        {{ else }}
        ASC
        {{ end }}
      </a>
      <a class="lead pull-right" style="margin-right: 25px;font-size: 1.2em" href="/thread?uuid={{ .thread.Uuid }}&page={{ .page }}&order=0">
        {{ if eq .curorder 0}}
        [ DESC ]
        {{ else }}
        DESC
        {{ end }}
      </a>
      <text class="lead pull-right" style="margin-right: 25px;font-size: 1.2em">Sort by Create Time:&nbsp; </text>
    </div>
  </div>


  <br>
  {{ $tuuid := .thread.Uuid }}
  <div id="myList" id="myList">
    {{ range .posts }}
    <div class="group">
      <br>
      <hr style="border: none;height: 3px; background-color: #cbcbcb;margin:0px;padding: 0px;">

      <div class="lead "
        style="margin-bottom: 0px; background-color:rgb(236, 236, 236);padding-left: 20px;padding-right: 20px;">
        <br>
        <span class="lead">#{{ .ThreadPos }} {{ .Content }}</span>
        <br>

        <div class="pull-right" style="font-size: 0.6em;padding-right: 10px;">
          {{ .UserName }} Replied at {{ .CreatedAt }}
        </div>
        {{ if eq $islogined true }}
        <a href="#" style="font-size: 0.6em;" class="pull-right show-input" data-text="Reply to {{.UserName }}"
          tuuid="{{ $tuuid }}" puuid="{{ .Uuid }}" ruuid="{{ .Uuid }}" action="comment">[Reply]</a>
        {{ end }}
        <br>
      </div>
      <div style="margin-top: 10px;">
        {{ $tp := .ThreadPos }}
        {{ $puuid := .Uuid }}
        {{ range .Comments }}
        <div class="comment-in-post">
          <span style="font-size: 1.2em;"> [ {{ .UserName }} ] Replied To [ {{ .ReplyToName }} ] : {{
            .Content }}</span>

          <div class="pull-right" style="font-size: 0.9em;padding-right: 5px;">
            Replied at {{ .CreatedAt }}
          </div>
          {{ if eq $islogined true }}
          <a href="#" style="font-size: 0.9em;" class="pull-right show-input" data-text="Reply to {{.UserName }}"
            tuuid="{{ $tuuid }}" puuid="{{ $puuid }}" ruuid="{{ .Uuid }}" action="comment">[Reply]</a>
          {{ end }}
          <hr style="border: none;height: 1px; background-color: #cbcbcb;margin:0px;padding: 0px;">
        </div>
        {{ end }}
      </div>

      {{ template "replyinput" . }}
    </div>
    {{ end }}
    <br>
    <br>
  </div>

</div>

{{ if gt .lenlist 0 }}
{{ if eq .lenlist 10}}
<a class="lead pull-right" href="/thread?uuid={{ .thread.Uuid }}&page={{ .pagen }}&order={{ .curorder }}">Next&gt;</a>
{{ end }}
<a class="lead pull-right" style="margin-left: 30px;margin-right: 30px;"> &nbsp;Page&nbsp;{{ .page }}&nbsp; </a>
{{ if gt .page 1 }}
<a class="lead pull-right" href="/thread?uuid={{ .thread.Uuid }}&page={{ .pagep }}&order={{ .curorder }}">&lt; Previous</a>
{{ end }}
{{ end }}

<script>
  const links = document.querySelectorAll('#myList .show-input');
  links.forEach(link => {
    link.addEventListener('click', function (event) {
      event.preventDefault();

      document.querySelectorAll('.input-container').forEach(function (input) {
        input.style.display = 'none';
      });

      const group = this.closest('.group');
      const inputContainer = group.querySelector('.input-container');
      // inputContainer.style.display = inputContainer.style.display === 'none' ? 'block' : 'none';
      inputContainer.style.display = 'block';

      const tuuid = inputContainer.querySelector(".tuuid");
      tuuid.value = this.getAttribute('tuuid');
      const puuid = inputContainer.querySelector(".puuid");
      puuid.value = this.getAttribute('puuid');
      const ruuid = inputContainer.querySelector(".ruuid");
      ruuid.value = this.getAttribute('ruuid');
      const action = inputContainer.querySelector(".action");
      action.value = this.getAttribute('action');

      const inputelem = inputContainer.querySelector("textarea");
      inputelem.focus();
      if (!inputelem.value) {
        inputelem.placeholder = this.getAttribute('data-text');
      }
    });
  });
  const forms = document.querySelectorAll('.input-container form');
  forms.forEach(form => {
    const summitButton = form.querySelector('.btn-primary');
    summitButton.addEventListener('click', async function (event) {
      event.preventDefault();
      form.closest('.input-container').display = 'none';
      const contentInput = form.querySelector(".inputext");
      content = contentInput.value;

      const tuuid = form.querySelector('.tuuid').value;
      const puuid = form.querySelector('.puuid').value;
      const ruuid = form.querySelector('.ruuid').value;
      const action = form.querySelector('.action').value;
      let obj = {
        content, tuuid, puuid, ruuid, action
      }
      try {
        const response = await fetch('/create', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(obj)
        });

        if (response.ok) {
          const data = await response.json();
          const scrollPosition = {
            x: window.scrollX || window.pageXOffset,
            y: window.scrollY || window.pageYOffset
          };
          window.location.reload();
          window.addEventListener('load', () => {
            window.scrollTo(scrollPosition.x, scrollPosition.y);
          });
        } else {
          console.error('Failed to fetch result', response.msg);
        }
      } catch (error) {
        console.error('Error fetching result', error);
      }
    });


  });
</script>


{{ end }}

{{ define "replyinput" }}
<div class="input-container" id="sharedInput" style="display: none; ">
  <div class="panel panel-info">
    <div class="panel-body">
      <form role="form" action="/thread/post" method="post">
        <div class="form-group">
          <textarea class="form-control inputext" name="content" placeholder="Write your reply here"
            rows="3"></textarea>
          <text type="hidden" name='tuuid' class="tuuid" value=""></text>
          <text type="hidden" name='tuuid' class="puuid" value=""></text>
          <text type="hidden" name='tuuid' class="ruuid" value=""></text>
          <text type="hidden" name='action' class="action" value=""></text>
          <br />
          <button id="summmitbutton" class="btn btn-primary pull-right" type="submit">Reply</button>
        </div>
      </form>
    </div>
  </div>
</div>
{{ end }}